header{
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    height: 50px;
    color: white;
    font-size: 20px;
    align-items: center;
    width: 70%;
    margin: auto;
}
body{
    text-align: center;
}
.top{
    top: 200px;
}
.bottom{
    bottom: 50px;
}
.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
form{
    display: flex ;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}
img{
    width: 400px;
    height: 400px;
    margin-top: 10px;
}
input{
    width: 250px;
    height: 30px;
    margin-top: 10px;
}
button{
    margin-top: 20px;
    width:300px ;
    height: 35px;
    background-color: blueviolet;
    border: none;
    color: white;
    border-radius: 5px;
}